* {
  margin: 0px;
  padding: 0px;
}

body {
  background: rgb(207, 190, 190);

}

main {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: auto;
  margin-top: 30px;
  width: 60vw;
  height: 90vh;
  border: 2px solid rgba(0, 0, 0, 0.342);
  padding: 30px;
}

h1 {
  font-weight: bold;
  font-size: 2em;

}

.caixatexto {
  border: 2px solid rgba(0, 0, 0, 0.411);
  border-radius: 2%;
  font-family: Arial, Helvetica, sans-serif;
}

.check {
  font-size: 1em;
  display: flex;


}

.check2 {
  position: relative;

  margin-left: auto;
  text-align: right;
}



.BotaoEstilo {
  font-size: 0.8em;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.548);
  margin-top: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 540px) {
  .check2 {
    text-align: left;
  }
}
.pp{
  text-align: center;
  margin-top: 20px;
}
.aa{
  padding-left: 8px;
}
.emoji{
  width: 20px;
  margin-right: 10px;
}